$colorSite: #F16D7F;
$colorSiteSecond: #F1E4E6;
$colorSiteCatalog: #F7F7F7;
$dark: #211616;
$gray: #5D5D5D;
$colorBorder: #dcdcdc;
$maxWidth: 1600px;
$maxWidthSecond: 1140px;

$minWidthTablet: 768px;
$maxWidthTablet: 1024px;
$maxWidthMobile: calc($minWidthTablet - 1px);